In [85]:
import pandas as pd
import numpy as np

In [86]:
df = pd.read_csv("day11.txt", header=None)
df.columns = ["coding"]
df

                                                coding
0    ..........#......................................
1    .....#...................#..............#........
2    ..............................#..................
3    .............................................#...
4    ............#....................................
..                                                 ...
135  ..#.........................................#....
136  .................................................
137  .................................................
138  ..............#..................................
139  ...................#..........#..........#.......

[140 rows x 1 columns]

In [87]:
x_dim = df.coding.str.len()[0]
y_dim = len(df)
x_dim, y_dim

(140, 140)

In [88]:
symbols = np.zeros((y_dim, x_dim), dtype="int")

In [89]:
for y, row in enumerate(df.coding):
    for x, val in enumerate(row):
        if val == "#":
             symbols[y, x] = 1
symbols

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [90]:
y_max = symbols.shape[0]
x_max = symbols.shape[1]

In [91]:
symbols[:, 2].sum()

7

In [92]:
empty_rows = []
for i in range(y_max):
    if symbols[i, :].sum() == 0:
        empty_rows.append(i)
empty_rows

[54, 60, 72, 80, 86, 87, 125, 129]

In [93]:
empty_columns = []
for i in range(x_max):
    if symbols[:, i].sum() == 0:
        empty_columns.append(i)
empty_columns

[7, 13, 28, 58, 80, 82, 129]

In [94]:
galaxies = []
for iy, ix in np.ndindex(symbols.shape):
    if symbols[iy, ix] == 1:
        galaxies.append((iy, ix))

In [95]:
len(galaxies)

451

In [96]:
from itertools import combinations

In [97]:
len(list(combinations(galaxies, 2)))

101475

In [98]:
total_distance = 0
expansion_coeeficient = 1_000_000
for galaxy_one, galaxy_two in combinations(galaxies, 2):
    y1, x1 = galaxy_one
    y2, x2 = galaxy_two
    expanded_between = 0
    for empty_row in empty_rows:
        if (y1 < empty_row and empty_row < y2) or (y2 < empty_row and empty_row < y1):
            expanded_between +=1
    for empty_column in empty_columns:
        if (x1 < empty_column and empty_column < x2) or (x2 < empty_column and empty_column < x1):
            expanded_between +=1
    distance = abs(x1 - x2) + abs(y1 - y2) + (expanded_between*(expansion_coeeficient-1))
    total_distance += distance
total_distance

553083047914