In [78]:
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv("day11.txt", header=None)
df.columns = ["coding"]
df

                                                coding
0    ..........#......................................
1    .....#...................#..............#........
2    ..............................#..................
3    .............................................#...
4    ............#....................................
..                                                 ...
135  ..#.........................................#....
136  .................................................
137  .................................................
138  ..............#..................................
139  ...................#..........#..........#.......

[140 rows x 1 columns]

In [80]:
x_dim = df.coding.str.len()[0]
y_dim = len(df)
x_dim, y_dim

(140, 140)

In [81]:
symbols = np.zeros((y_dim, x_dim), dtype="int")

In [82]:
for y, row in enumerate(df.coding):
    for x, val in enumerate(row):
        if val == "#":
             symbols[y, x] = 1
symbols

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [83]:
y_max = symbols.shape[0]
x_max = symbols.shape[1]

In [84]:
symbols[:, 2].sum()

7

In [85]:
empty_rows = []
for i in range(y_max):
    if symbols[i, :].sum() == 0:
        empty_rows.append(i)
empty_rows

[54, 60, 72, 80, 86, 87, 125, 129]

In [86]:
empty_columns = []
for i in range(x_max):
    if symbols[:, i].sum() == 0:
        empty_columns.append(i)
empty_columns

[7, 13, 28, 58, 80, 82, 129]

In [87]:
new_symbols = symbols.copy()
for empty_row in reversed(empty_rows):
    x_max = new_symbols.shape[1]
    new_expansion = np.zeros((1, x_max), dtype="int")
    new_symbols = np.concatenate([new_symbols[:empty_row, :],new_expansion, new_symbols[empty_row:, :]] ,axis=0)

In [88]:
for empty_col in reversed(empty_columns):
    y_max = new_symbols.shape[0]
    new_expansion = np.zeros((y_max, 1), dtype="int")
    new_symbols = np.concatenate([new_symbols[:, :empty_col],new_expansion, new_symbols[:, empty_col:]] ,axis=1)

In [89]:
new_symbols

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [90]:
galaxies = []
for iy, ix in np.ndindex(new_symbols.shape):
    if new_symbols[iy, ix] == 1:
        galaxies.append((iy, ix))

In [91]:
len(galaxies)

451

In [92]:
from itertools import combinations

In [93]:
len(list(combinations(galaxies, 2)))

101475

In [94]:
total_distance = 0
for galaxy_one, galaxy_two in combinations(galaxies, 2):
    y1, x1 = galaxy_one
    y2, x2 = galaxy_two
    distance = abs(x1 - x2) + abs(y1 - y2)
    total_distance += distance
total_distance

10154062