In [55]:
import pandas as pd
import re
import numpy as np

In [56]:
#instructions = "LR"
instructions = "LRRLLRLRRRLRRRLRRLRRRLRRLRRRLRRLRRRLRLRRRLRRRLRRRLRLRRLRRRLRRRLRRLRRLRRLRLLLRRRLRRRLRLRLRRLLRRRLRRLRRRLRLRRLRRRLRRRLLRLRLLRRRLRRRLLRRRLRRRLRRRLRRLRRRLLLRRRLRLLLRLRLRLLRLRLLLRRLRRLLRRLRRRLRRLRRLRLRRLLRRLRLRRLLLRRRLLRRRLLRLRLLRRRLRLLRRLRLRRLRLRRRLLRRRLLRRLRLRRLRRLLRLRLRRRLRLRRRR"

In [57]:
instructions

'LRRLLRLRRRLRRRLRRLRRRLRRLRRRLRRLRRRLRLRRRLRRRLRRRLRLRRLRRRLRRRLRRLRRLRRLRLLLRRRLRRRLRLRLRRLLRRRLRRLRRRLRLRRLRRRLRRRLLRLRLLRRRLRRRLLRRRLRRRLRRRLRRLRRRLLLRRRLRLLLRLRLRLLRLRLLLRRLRRLLRRLRRRLRRLRRLRLRRLLRRLRLRRLLLRRRLLRRRLLRLRLLRRRLRLLRRLRLRRLRLRRRLLRRRLLRRLRLRRLRRLLRLRLRRRLRLRRRR'

In [58]:
df = pd.read_csv("puzzle15.txt", header=None, sep=" = ")
df.columns = ["node", "next"]

/var/folders/pm/vw9pw9_93bl47zh9mtqphvb00000gn/T/ipykernel_81517/919813513.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("puzzle15.txt", header=None, sep=" = ")

In [59]:
df

    node        next
0    GLJ  (QQV, JTL)
1    JSJ  (DKN, GQN)
2    MGD  (BPL, LQC)
3    VSK  (SPH, DDH)
4    TSB  (MKP, TKX)
..   ...         ...
745  PMX  (DRL, SRN)
746  XMK  (HFK, MJQ)
747  NDB  (JHV, JKP)
748  LQS  (TCN, FLS)
749  PGG  (NJD, QCG)

[750 rows x 2 columns]

In [60]:
next_both = df.next.str.replace("[()]", "", regex=True).str.split(", ")
df["left"] = next_both.str[0]
df["right"] = next_both.str[1]
df

    node        next left right
0    GLJ  (QQV, JTL)  QQV   JTL
1    JSJ  (DKN, GQN)  DKN   GQN
2    MGD  (BPL, LQC)  BPL   LQC
3    VSK  (SPH, DDH)  SPH   DDH
4    TSB  (MKP, TKX)  MKP   TKX
..   ...         ...  ...   ...
745  PMX  (DRL, SRN)  DRL   SRN
746  XMK  (HFK, MJQ)  HFK   MJQ
747  NDB  (JHV, JKP)  JHV   JKP
748  LQS  (TCN, FLS)  TCN   FLS
749  PGG  (NJD, QCG)  NJD   QCG

[750 rows x 4 columns]

In [61]:
df[df.node.str[2] == 'Z']

    node        next left right
6    BLZ  (HGN, KRR)  HGN   KRR
12   NPZ  (JRD, NHL)  JRD   NHL
250  BJZ  (MVX, JPD)  MVX   JPD
543  PBZ  (SFL, FVR)  SFL   FVR
604  ZZZ  (DMB, LQS)  DMB   LQS
607  PMZ  (CQH, NFG)  CQH   NFG

In [62]:
lefts = {}
rights = {}
starting_nodes = []
for _, row in df.iterrows():
    name = row["node"]
    lefts[name] = row["left"]
    rights[name] = row["right"]
    if name[2] == 'A':
        starting_nodes.append(name)
instructions_map = {
    "L": lefts,
    "R": rights
}

In [63]:
#instructions_map

In [64]:
current_nodes = starting_nodes
current_nodes

['MTA', 'QNA', 'XCA', 'BXA', 'AAA', 'VCA']

In [65]:

from collections import Counter

# to verify the hypothesis that the inputs are several loops
def analyse_starting_node(node, instructions):
    reached_nodes = set()
    path = []
    current_node = node
    counter = Counter()
    for i in range(500):
        for instruction in instructions:
            counter.update([current_node])
            is_terminal = current_node[2] == 'Z'
            path.append((current_node, counter[current_node], is_terminal))
            new_node = instructions_map[instruction][current_node]
            current_node = new_node
    return path

In [66]:
path = analyse_starting_node("MTA", instructions)
len(path)

138500

In [67]:
#path

In [68]:
def find_loop_length(node, instructions):
    reached_nodes = set()
    path = []
    current_node = node
    counter = Counter()
    while True:
        for instruction in instructions:
            counter.update([current_node])
            is_terminal = current_node[2] == 'Z'
            if is_terminal:
                return len(path)
            path.append((current_node, counter[current_node], is_terminal))
            new_node = instructions_map[instruction][current_node]
            current_node = new_node

In [69]:
find_loop_length("MTA", instructions)

16897

In [70]:
pathlengths = [find_loop_length(start, instructions) for start in starting_nodes]
pathlengths

[16897, 16343, 21883, 13019, 14681, 20221]

In [71]:
pathlengths

[16897, 16343, 21883, 13019, 14681, 20221]

In [72]:
from math import lcm
lcm(*pathlengths)

14321394058031