In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("puzzle1.txt", header=None)
df.columns = ["calibration"]
df

                                   calibration
0                                   qzjggk1one
1                                   two2seven7
2                  vszthreetwo6threethree4two3
3            zcsvvlslqvfive11chhzmdjdgz8vbgldl
4                    jjsmsksvbr77cfdrdseven1zd
..                                         ...
995                                        5c1
996       vrxbfckfz7qlfrnggsbdfive6glhk62three
997               7eightfiveeightrdnhfnqeight5
998  5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1
999                                 gttsix2567

[1000 rows x 1 columns]

In [10]:
df["digits"] = df.calibration.apply(lambda x: [y for y in x if y.isdigit()])
df

                                   calibration        digits
0                                   qzjggk1one           [1]
1                                   two2seven7        [2, 7]
2                  vszthreetwo6threethree4two3     [6, 4, 3]
3            zcsvvlslqvfive11chhzmdjdgz8vbgldl     [1, 1, 8]
4                    jjsmsksvbr77cfdrdseven1zd     [7, 7, 1]
..                                         ...           ...
995                                        5c1        [5, 1]
996       vrxbfckfz7qlfrnggsbdfive6glhk62three  [7, 6, 6, 2]
997               7eightfiveeightrdnhfnqeight5        [7, 5]
998  5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1        [5, 1]
999                                 gttsix2567  [2, 5, 6, 7]

[1000 rows x 2 columns]

In [13]:
df["first_digit"] = df.digits.apply(lambda x: int(x[0]))
df["last_digit"] = df.digits.apply(lambda x: int(x[-1]))
df

,calibration,digits,first_digit,last_digit,calibration_number
0,qzjggk1one,[1],1,1,11111111111
1,two2seven7,"[2, 7]",2,7,22222222227
2,vszthreetwo6threethree4two3,"[6, 4, 3]",6,3,66666666663
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,"[1, 1, 8]",1,8,11111111118
4,jjsmsksvbr77cfdrdseven1zd,"[7, 7, 1]",7,1,77777777771
...,...,...,...,...,...
995,5c1,"[5, 1]",5,1,55555555551
996,vrxbfckfz7qlfrnggsbdfive6glhk62three,"[7, 6, 6, 2]",7,2,77777777772
997,7eightfiveeightrdnhfnqeight5,"[7, 5]",7,5,77777777775
998,5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1,"[5, 1]",5,1,55555555551
999,gttsix2567,"[2, 5, 6, 7]",2,7,22222222227

In [14]:
df["calibration_number"] = (df.first_digit * 10) + df.last_digit
df

,calibration,digits,first_digit,last_digit,calibration_number
0,qzjggk1one,[1],1,1,11
1,two2seven7,"[2, 7]",2,7,27
2,vszthreetwo6threethree4two3,"[6, 4, 3]",6,3,63
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,"[1, 1, 8]",1,8,18
4,jjsmsksvbr77cfdrdseven1zd,"[7, 7, 1]",7,1,71
...,...,...,...,...,...
995,5c1,"[5, 1]",5,1,51
996,vrxbfckfz7qlfrnggsbdfive6glhk62three,"[7, 6, 6, 2]",7,2,72
997,7eightfiveeightrdnhfnqeight5,"[7, 5]",7,5,75
998,5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1,"[5, 1]",5,1,51
999,gttsix2567,"[2, 5, 6, 7]",2,7,27

In [15]:
df.calibration_number.sum()

55172