In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("puzzle1.txt", header=None)
df.columns = ["calibration"]
df

                                   calibration
0                                   qzjggk1one
1                                   two2seven7
2                  vszthreetwo6threethree4two3
3            zcsvvlslqvfive11chhzmdjdgz8vbgldl
4                    jjsmsksvbr77cfdrdseven1zd
..                                         ...
995                                        5c1
996       vrxbfckfz7qlfrnggsbdfive6glhk62three
997               7eightfiveeightrdnhfnqeight5
998  5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1
999                                 gttsix2567

[1000 rows x 1 columns]

In [31]:
def find_occurrences(val):
    results = []
    replace_vals = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9
    }
    for old, new in replace_vals.items():
        first_occ = val.find(old)
        if first_occ != -1:
            results.append((first_occ, new))
        last_occ = val.rfind(old)
        if last_occ != -1:
            results.append((last_occ, new))
    results.sort(key = lambda x: x[0])
    if len(results):
         last_position = results[-1]
         first_position = results[0]
         val = val[:last_position[0]] + str(last_position[1]) + val[last_position[0]:]
         val = val[:first_position[0]] + str(first_position[1]) + val[first_position[0]:]
    return val

In [32]:
find_occurrences("twoone")

'2two1one'

In [33]:
df["calibration_modified"] = df.calibration.apply(find_occurrences)
df

,calibration,calibration_modified,digits,first_digit,last_digit,calibration_number
0,qzjggk1one,qzjggk111one,"[1, 1]",1,1,11
1,two2seven7,2two27seven7,"[2, 2, 7, 7]",2,7,27
2,vszthreetwo6threethree4two3,vsz3threetwo6threethree42two3,"[3, 2, 6, 3, 3, 4, 2, 3]",3,3,33
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,zcsvvlslqv55five11chhzmdjdgz8vbgldl,"[5, 1, 1, 8]",5,8,58
4,jjsmsksvbr77cfdrdseven1zd,jjsmsksvbr77cfdrd77seven1zd,"[7, 7, 7, 1]",7,1,71
...,...,...,...,...,...,...
995,5c1,5c1,"[5, 1]",5,1,51
996,vrxbfckfz7qlfrnggsbdfive6glhk62three,vrxbfckfz7qlfrnggsbd5five6glhk623three,"[7, 5, 6, 6, 2, 3]",7,3,73
997,7eightfiveeightrdnhfnqeight5,78eightfiveeightrdnhfnq8eight5,"[7, 8, 5, 8, 8, 5]",7,5,75
998,5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1,53threethreerdlsfdsvggzb1onecxqzqdvxcqtqbg1,"[5, 3, 3, 1, 1]",5,1,51
999,gttsix2567,gtt66six2567,"[6, 2, 5, 6, 7]",6,7,67

In [12]:
df["calibration_modified"] = df.calibration
replace_vals = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9
}
for old, new in replace_vals.items():
    df["calibration_modified"] = df["calibration_modified"].str.replace(old, str(new), regex=False)

In [34]:
df["digits"] = df.calibration_modified.apply(lambda x: [y for y in x if y.isdigit()])
df

,calibration,calibration_modified,digits,first_digit,last_digit,calibration_number
0,qzjggk1one,qzjggk111one,"[1, 1, 1]",1,1,11
1,two2seven7,2two27seven7,"[2, 2, 7, 7]",2,7,27
2,vszthreetwo6threethree4two3,vsz3threetwo6threethree42two3,"[3, 6, 4, 2, 3]",3,3,33
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,zcsvvlslqv55five11chhzmdjdgz8vbgldl,"[5, 5, 1, 1, 8]",5,8,58
4,jjsmsksvbr77cfdrdseven1zd,jjsmsksvbr77cfdrd77seven1zd,"[7, 7, 7, 7, 1]",7,1,71
...,...,...,...,...,...,...
995,5c1,5c1,"[5, 1]",5,1,51
996,vrxbfckfz7qlfrnggsbdfive6glhk62three,vrxbfckfz7qlfrnggsbd5five6glhk623three,"[7, 5, 6, 6, 2, 3]",7,3,73
997,7eightfiveeightrdnhfnqeight5,78eightfiveeightrdnhfnq8eight5,"[7, 8, 8, 5]",7,5,75
998,5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1,53threethreerdlsfdsvggzb1onecxqzqdvxcqtqbg1,"[5, 3, 1, 1]",5,1,51
999,gttsix2567,gtt66six2567,"[6, 6, 2, 5, 6, 7]",6,7,67

In [35]:
df["first_digit"] = df.digits.apply(lambda x: int(x[0]))
df["last_digit"] = df.digits.apply(lambda x: int(x[-1]))
df

,calibration,calibration_modified,digits,first_digit,last_digit,calibration_number
0,qzjggk1one,qzjggk111one,"[1, 1, 1]",1,1,11
1,two2seven7,2two27seven7,"[2, 2, 7, 7]",2,7,27
2,vszthreetwo6threethree4two3,vsz3threetwo6threethree42two3,"[3, 6, 4, 2, 3]",3,3,33
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,zcsvvlslqv55five11chhzmdjdgz8vbgldl,"[5, 5, 1, 1, 8]",5,8,58
4,jjsmsksvbr77cfdrdseven1zd,jjsmsksvbr77cfdrd77seven1zd,"[7, 7, 7, 7, 1]",7,1,71
...,...,...,...,...,...,...
995,5c1,5c1,"[5, 1]",5,1,51
996,vrxbfckfz7qlfrnggsbdfive6glhk62three,vrxbfckfz7qlfrnggsbd5five6glhk623three,"[7, 5, 6, 6, 2, 3]",7,3,73
997,7eightfiveeightrdnhfnqeight5,78eightfiveeightrdnhfnq8eight5,"[7, 8, 8, 5]",7,5,75
998,5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1,53threethreerdlsfdsvggzb1onecxqzqdvxcqtqbg1,"[5, 3, 1, 1]",5,1,51
999,gttsix2567,gtt66six2567,"[6, 6, 2, 5, 6, 7]",6,7,67

In [36]:
df["calibration_number"] = (df.first_digit * 10) + df.last_digit
df

,calibration,calibration_modified,digits,first_digit,last_digit,calibration_number
0,qzjggk1one,qzjggk111one,"[1, 1, 1]",1,1,11
1,two2seven7,2two27seven7,"[2, 2, 7, 7]",2,7,27
2,vszthreetwo6threethree4two3,vsz3threetwo6threethree42two3,"[3, 6, 4, 2, 3]",3,3,33
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,zcsvvlslqv55five11chhzmdjdgz8vbgldl,"[5, 5, 1, 1, 8]",5,8,58
4,jjsmsksvbr77cfdrdseven1zd,jjsmsksvbr77cfdrd77seven1zd,"[7, 7, 7, 7, 1]",7,1,71
...,...,...,...,...,...,...
995,5c1,5c1,"[5, 1]",5,1,51
996,vrxbfckfz7qlfrnggsbdfive6glhk62three,vrxbfckfz7qlfrnggsbd5five6glhk623three,"[7, 5, 6, 6, 2, 3]",7,3,73
997,7eightfiveeightrdnhfnqeight5,78eightfiveeightrdnhfnq8eight5,"[7, 8, 8, 5]",7,5,75
998,5threethreerdlsfdsvggzbonecxqzqdvxcqtqbg1,53threethreerdlsfdsvggzb1onecxqzqdvxcqtqbg1,"[5, 3, 1, 1]",5,1,51
999,gttsix2567,gtt66six2567,"[6, 6, 2, 5, 6, 7]",6,7,67

In [37]:
df.calibration_number.sum()

54925